body {
    background-color: #000;
    color: #fff;
}

.contenedorMain {
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    height: 200px;
}

.caja {
    background-color: black;
    padding: 10px;
    text-align: center;
    color: aliceblue;
}

.navbar {
    position: relative;
    z-index: 9999 !important;
}

.carousel {
    position: relative;
    z-index: 1 !important;
}

.dropdown-menu {
    position: absolute;
    z-index: 10000 !important;
}


